html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

td {
    width: 50%;
    height: 100%;
    text-align: center;
    font-size: 4vw; /* responsive text */
    font-weight: bold;
    color: white;
}


.box1 { background: crimson; }
.box2 { background: steelblue; }