html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.full-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.full-table td {
    border: 1px solid black;
    text-align: center;
    /* Optional: Makes text resize smoothly if desired, though not strictly required */
    font-size: 2vw; 
}

.c1 { background-color: #dd8ada; }
.c2 { background-color: #ff9a03; }
.c3 { background-color: #b0f2f8; }
.c4 { background-color: #a0db90; }
.c5 { background-color: #d4afdc; }